.compass-container {
  min-height: 100vh;  
}

.compass-container, .compass {
  display: flex;
}

.compass {
  width: 100vmin;
  height: 100vmin;
  border-radius: 50%;
  border: 1px solid black;
}

.pointer {
  /*-webkit-transform: rotate(45deg);*/
  border: 1px solid black;
  height: 100%;
  width: 0%;
}

